VITE_SUPABASE_URL=https://culzynzuymrjqdgapngp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1bHp5bnp1eW1yanFkZ2FwbmdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNjY3NTEsImV4cCI6MjA5MjY0Mjc1MX0.UpNZrAJlxo6MuQ6VjH0GjS8jsht_hiVYXdGSMgtDzjc
VITE_API_URL=https://tennis-training-system-o5i6.vercel.app